.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content {
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
}

.checked {
    color: orange;
}

.offcanvas-top {
    height: fit-content;
}

.list-group-item .d-flex {
    gap: 10px;
}

@media (max-width: 768px) {
    .list-group-item .d-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .list-group-item .d-flex p,
    .list-group-item .d-flex div {
        align-self: flex-start;
        width: 100%;
        margin: 0;
    }

    .list-group-item .d-flex div {
        margin-top: 8px;
    }
}

#movieGenres {
    font-style: italic;
}

.dropdown-menu {
    padding: 1rem 2rem;
}
footer {
    background-color: #DC1A28;
    bottom: 0;
    width: 100%;
    margin-top: 1rem;
  }

  .no-results-message {
    border: 2px dotted red;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
